.register__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  margin: 60px 461px 0 461px;
  color: #fff;
  text-align: center;
}

.register__fieldset {
  max-width: 358px;
  border: none;
  margin: 0 auto;
}

.register__label {
  width: 358px;
  height: 28px;
  border-width: 1px;
}

.register__input {
  width: 357px;
  height: 27px;
  /*border-width: 1px;*/
  margin: 0 auto 0 24px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  /*border-bottom: 1px solid;*/
  background: black;
  border: none;
  color: white;

  border-bottom: 2px solid #cccccc;
}

.register__input_type_error {
  /* border-bottom-color: red;*/
}

.register-email-error {
}

.register__password-label {
}

.register__input-error {
}

.register__buttonlogin {
  width: 358px;
  height: 50px;
  border-radius: 2px;
  border-width: 1px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: black;
  margin: 216px auto 0 24px;
  cursor: pointer;
}

.register__link {
  color: #fff;
  margin: auto;
  margin: 15px 15px 400px 80px;

  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
